*

.ilmoituslayer
{
height: 520px;
width: 320px;
margin: auto;
/*margin-right:10px;
margin-top:10px;*/
background-color:#E8EBF2;
}
.ilmoitusotsikko
{
height:100px;
width: 300px;
float: right;
margin-right: 10px;
margin-top: 20px;
background-color:#E8EBF2;
}
.otsikko1
{
float: right;
height: auto;
width: auto;
margin-top: 40px;
margin-right: 40px;
background-color:#E8EBF2;
}
.valiviiva
{
height:1px;
width: 300px;
background-color:#E8EBF2;
float: right;
margin-right: 10px;
margin-bottom: 5px;
}
.etu
{
height:40px;
width: 220px;
float:right;
Margin-top:8px;
margin-right: 10px;
background-color: #E8EBF2;
}
.etuapu
{
height:40px;
width: 80px;
float:right;
margin-right: 1px;
background-color: #E8EBF2;
}
.suku
{
height:40px;
width: 220px;
float:right;
margin-right: 10px;
Margin-top:8px;
background-color: #E8EBF2;
}
.sukuapu
{
height:40px;
width: 80px;
float:right;
margin-right: 1px;
background-color: #E8EBF2;
}

.syntaika
{
height:40px;
width: 220px;
float:right;
margin-right: 10px;
background-color: #E8EBF2;
}
.syntaikaapu
{
height:40px;
width: 80px;
float:right;
margin-right: 1px;
background-color: #E8EBF2;
}
.apukentta
{
height: auto;
width: auto;
float: right;
}

.nappilayer
{
height:50px;
width: 320px;
float:right;
margin-right:0px;
background-color: #E8EBF2;
}
.nappi
{
float: right;
margin-left:10px;
height: 33px;
width:149px;
background-color: #E8EBF2;
}

h1
{
font-size: 36px;
color: white;
margin-bottom: 2px;
}
h2
{
font-size: 20px;
color: black;
}
p
{
font-size: 18px;
color: white;
margin-bottom:12px;
}

